div {
    /*Ваш код*/
    background-color: #654430;
}

div:before {
    /*Ваш код*/
    display: block;
    content: " ";
    width: 50%;
    height: 50%;
    background: radial-gradient(circle at center, #5f5d5e, #5f5d5e 20px, #252324 20px 23px, #5f5d5e 23px 28px, #f7ebcc 28px);
}

div:after {
    /*Ваш код*/
    display: block;
    position: relative;
    content: " ";
    width: 50%;
    height: 50%;
    left: 90px;
    background: radial-gradient(circle at 50%, #5f5d5e, #5f5d5e 20px, #252324 20px 23px, #5f5d5e 23px 28px, #f7ebcc 28px);
}
